header
    nav
        div 
            div 
                a(href="/") Accueil
            div
                a(href="/game") Jouer
        
        if user
            div
                div
                    a(class="button2" href="/logout") Se déconnecter
        else 
            div
                div
                    a(class="button2" href="/login") Se connecter